.blocked-section {
    position: relative;
}

.chap2-s1-text {
    margin-top: 7rem;
    width: 57%;
    text-align: right;
}

.blocked-container {
    position: absolute;
    right: 42vw;
}

.blocked {
    top: 0;
    position: absolute;
    transform: translateX(200%);
    transition: transform .3s ease-in-out;
}

.blocked>img {
    position: relative;
    width: 25vw;
}

.blocked>p {
    position: absolute;
    top: 25%;
    display: inline;
}

.step1 .blocked1,
.step2 .blocked2,
.step3 .blocked3 {
    transform: translateX(0);
}

.blocked2 {
    top: 25vh;
}

.blocked2>img {
    right: 3.5em;
}

.blocked3 {
    top: 50vh;
}

.blocked3>img {
    right: -4em;
}

.quizz{
    margin-top: 6rem;
    margin-left: 3rem;
    min-width: 50%;
}

.quizz-buttons{
    margin-top: 6rem;
    gap: 3rem;
    margin-right: 3rem;
}


.quizz-buttons__button{
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    background-color: transparent;
    margin-left: 1rem;
}

.quizz-buttons__input{
    appearance: none;
    height: 25px;
    border: 2px solid gray;
    width: 25px;
    border-radius: 100%;
    transform: translateY(15%);
    position: relative;
}

.quizz-buttons__input:checked{
    background-color: var(--color-chapter_2);
}
.quizz-buttons__input:checked::before {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    position: absolute;
    left:50%;
    top: 50%;
    border-radius: 100%;
    transform: translate(-50% , -50%);
    background-color: #ff7037;
}

@media screen and (max-width: 1270px) {
    iframe {
        width: 90vw;
        height: 50vw;
    }
    .chap2-s1-text {
        width: 100%;
    }

    .blocked-container {
        right: 63vw;
    }
    .blocked {
        transform: translateX(250%);
    }
    .blocked1 {
        top: 25vh;
    }
    .blocked2 {
        top: 50vh;
    }
    .blocked2>img {
        right: 0;
    }
    .blocked3 {
        top: 75vh;
    }
    .blocked3>img {
        right: 0;
    }
    .blocked>p {
        position: unset;
        top: unset;
        display: unset;
        text-align: center;
        margin-left: 4em;
    }

    .quizz {
        margin: 0;
    }
    .quizz-buttons {
        gap: 1em;
        margin: 0;;
    }
}

@media screen and (max-width: 680px) {
    .blocked {
        margin-top: -4em;
    }
    .blocked>img {
        width: 50vw;
    }
}
