@import '_reset.css';

@import '_globals.css';
@import '_utils.css';

@import '_typography.css';

@import '_chapter-1.css';
@import '_chapter-2.css';
@import '_chapter-3.css';

main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}
.section, .chapter-title__container {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.side-nav {
  position: fixed;
  top: 10vh;
  left: 2em;
  width: .2em;
  height: 80vh;
  background-color: white;
}
.side-nav__link {
  aspect-ratio: 1/1;
  position: relative;
  width: 1em;
  transition: width .23s ease-in-out;
  background-color: white;
  border-radius: 50%;
}
.side-nav__link:hover,
.side-nav__link[aria-current="step"],
.side-nav--intro > .side-nav__link{
  width: 3em;
}
.side-nav__link-text {
  position: absolute;
  left: 150%;
  overflow: hidden;
  width: 0;
  transition: width .23s ease-in-out;
  transition-delay: .23s;
  color: white;
  font-weight: 500;
}
.side-nav__link:hover>.side-nav__link-text,
.side-nav--intro .side-nav__link-text {
  width: 5.5em;
}

.accueil-title__sub {
  position: relative;
  top: 1em;
}
.accueil-title__mouse {
  margin-bottom: 2em;
}

.chapter {
  display: grid;
  grid-auto-rows: minmax(100vh, auto);
}
.chapter:nth-child(1) {
  background-color: var(--color-intro);
  color: var(--color-intro-text);
}
.chapter:nth-child(2) {
  background-color: var(--color-chapter_1);
  color: var(--color-chapter_1-text);
}
.chapter:nth-child(3) {
  background-color: var(--color-chapter_2);
  color: var(--color-chapter_2-text);
}
.chapter:nth-child(4) {
  background-color: var(--color-chapter_3);
  color: var(--color-chapter_3-text);
}

.chapter-title__number {
  display: block;
  text-transform: uppercase;
}

.section {
  padding: 4.5em;
}
.section:nth-of-type(1) {
  background-color: #fff2;
}
.section:nth-of-type(2) {
  background-color: #fff4;
}
.section:nth-of-type(3) {
  background-color: #fff6;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}
.scroll-downs {
  mix-blend-mode: multiply;
  position: fixed;
  bottom: 5em;
  transition: opacity .3s ease-in-out;
}
.scrolling {
  opacity: 0;
}
.mousey {
  opacity: 0.75;
  box-sizing: content-box;
  width: 3px;
  height: 35px;
  padding: 10px 15px;
  border: 2px solid var(--color-intro-text);
  border-radius: 25px;
}
.scroller {
  width: 3px;
  height: 10px;
  animation: scroll 2.2s cubic-bezier(.15, .41, .69, .94) infinite;
  background-color: var(--color-intro-text);
  border-radius: 25%;
}

.fake-img {
  display: block;
  background-color: chocolate;
}
.illu-chapzz {
  aspect-ratio: 3 / 2;
  min-width: 35em;
}


.section__title{
  font-size: 3em;
  font-weight: 700;
}

.chart-js{
  display: block;
  width: 50%;
}
.left{
  margin-left: 4rem;
}

.none{
  display: none;
}
