@import '_reset.css';

@import '_globals.css';
@import '_utils.css';

@import '_typography.css';

@import '_chapter-1.css';
@import '_chapter-2.css';
@import '_chapter-3.css';

main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.section, .chapter-title__container {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10vh;
  left: 2em;
  width: .2em;
  height: 80vh;
  background-color: white;
}
.side-nav__link {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  position: relative;
  width: 1em;
  transition: width .23s ease-in-out;
  background-color: white;
  border: solid .1em black;
  border-radius: 50%;
}
.side-nav__link:hover,
.side-nav__link[aria-current="step"],
.side-nav--intro > .side-nav__link{
  width: 3em;
}
.side-nav__link-text {
  position: absolute;
  left: 150%;
  overflow: hidden;
  width: 0;
  transition: width .23s ease-in-out;
  transition-delay: .23s;
}
.side-nav__link:hover>.side-nav__link-text,
.side-nav--intro .side-nav__link-text {
  width: 150%;
}

.chapter {
  display: grid;
  grid-auto-rows: minmax(100vh, auto);
}
.chapter:nth-child(1) {
  background-color: var(--color-intro);
}
.chapter:nth-child(2) {
  background-color: var(--color-chapter_1);
}
.chapter:nth-child(3) {
  background-color: var(--color-chapter_2);
}
.chapter:nth-child(4) {
  background-color: var(--color-chapter_3);
}
.section:nth-of-type(1) {
  background-color: #fff2;
}
.section:nth-of-type(2) {
  background-color: #fff4;
}
.section:nth-of-type(3) {
  background-color: #fff6;
}

.accueil-title{
  margin-top: 9rem;
  color: var(--color-intro-text);
  text-align: center;
}
.accueil-title__sub{
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-intro-text);
  text-align: center;
}
.accueil-title__mouse{
  position: relative;
  top: 28rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-intro-text);
  text-align: center;
}


@keyframes scroll {
  0% {
    opacity: 0;
  }

10% {
  opacity: 1;
  transform: translateY(0);
  }

100% {
  opacity: 0;
  transform: translateY(15px);
  }
}
.scroll-downs {
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 5em;
  left: 0;
  right: 0;
  opacity: 1;
  width: 34px;
  height: 55px;
  margin: auto;
  transition: opacity .3s ease-in-out;
}
.scrolling {
  opacity: 0;
}
.mousey {
  opacity: 0.75;
  box-sizing: content-box;
  width: 3px;
  height: 35px;
  padding: 10px 15px;
  border: 2px solid var(--color-intro-text);
  border-radius: 25px;
}
.scroller {
  width: 3px;
  height: 10px;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
  background-color: var(--color-intro-text);
  border-radius: 25%;
}
